@import '~normalize.css';
@font-face {
  font-family: 'major_mono_displayregular';
  src: url('./fonts/majormonodisplay-regular-webfont.woff2') format('woff2'),
    url('./fonts/majormonodisplay-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#root {
  background: rgb(255, 255, 255);
}

.name {
  display: flex;
  font-family: major_mono_displayregular, Arial, Helvetica, sans-serif;
  color: #00a2ff;
  padding: 1em;
  font-size: 2em;
  .p {
    animation: 3s infinite text-flicker;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

.content {
  color: 000;
  height: calc(100vh - 6rem);
  padding: 0 2em;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  line-height: 2;
}

.nav {
  display: flex;
  width: 50vw;
  padding: 0 50vw 0 0;
  border-bottom: 10px solid #00a2ff;
  background: #313131;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  font-family: major_mono_displayregular, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: #adabab;
  display: flex;
  padding: 1rem;
  transition: 500ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  &.active,
  &:hover {
    color: orange;
    text-shadow: 0px 0px 10px orange;
    animation: pulse 2s linear infinite alternate;
  }
}

.project-feature-list {
  margin: 0;
  list-style: square;
}

.about {
  width: 50vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work {
  width: 100%;
  margin: 0 auto;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}

.project {
  justify-self: center;
  width: 90%;
  padding: 2em;
  background: #00a2ff;
  color: white;
  clip-path: polygon(
    1em 1em,
    0 0,
    calc(100% - 1em) 0,
    calc(100% - 1em) 100%,
    1em 100%
  );
}

.project-title {
  font-size: 1.5em;
  line-height: 1;
}

.project-description {
  font-size: 0.8em;
  line-height: 1.2;
  p:last-child {
    margin-bottom: 0;
  }
}

.work-intro {
  width: 80vw;
  margin: 0 auto 2em auto;
}

@keyframes pulse {
  0% {
    text-shadow: 0px 0px 0px orange;
  }
  10% {
    text-shadow: 0px 0px 0px orange;
  }
  75% {
    text-shadow: 0px 0px 20px orange;
  }
  100% {
    text-shadow: 0px 0px 20px orange;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 1;
  }
  2% {
    opacity: 1;
  }
  8% {
    opacity: 1;
  }
  9% {
    opacity: 1;
  }
  10% {
    opacity: 0.1;
  }
  12% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  72% {
    opacity: 0;
  }
  77% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
